<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="PrintableFormsBaseUrl" value="https://apigw.test.bi.group/printable-forms" />
    <!--<add key="PrintableFormsBaseUrl" value="http://localhost:5213" />-->
    <add key="PrintableFormsGetFileListApi" value="/api/v1/Document/ListMetadata" />
    <add key="PrintableFormsGetDocxApi" value="/api/v1/Document/GetDocx" />
    <add key="PrintableFormsGetDocVariablesApi" value="/api/v1/DocumentVariable/ListByDocumentId" />
    <add key="PrintableFormsGetVariableValuesApi" value="/api/v1/DocumentVariable/GetVariableValues" />
    <add key="KeyCloakClientApi" value="https://sso.test.bi.group/realms/bi-group/protocol/openid-connect/token" />
    <add key="KeyCloakClientId" value="printable-forms" />
    <add key="KeyCloakClientSecret" value="Bcb3NYb5JtFhKKuB2whG0TyxSB2NvR0t" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Bcl.AsyncInterfaces" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.2" newVersion="9.0.0.2" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>